{% extends 'base.html.twig' %}

{% block body %}
    <div id="chart_div"></div>

    {% block javascripts %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Promotion', 'Pourcentage'],
                    {% for promotion in promotions %}
                    ['{{ promotion.nomP }}', {{ promotion.pourcentage }}],
                    {% endfor %}
                ]);

                var options = {
                    title: 'Promotions',
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        </script>
    {% endblock %}
{% endblock %}