



<head>
    <meta charset="UTF-8">
    <title>Ticket Reservation</title>
<body>

   
         <h1 style="text-align:center; text-decoration:underline; color:blue;">My Ticket</h1>

    <p>Cher/Chère  <strong>{{ reservationvehiculee.nomclient }},</strong></p>
    <p>Nous avons le plaisir de vous informer que votre réservation pour notre événement <strong>{{ reservationvehiculee.nomevent}}</strong> (N°Personnes : {{ reservationvehiculee.nbrclient}}) a été acceptée. Nous sommes ravis de vous accueillir à notre événement et nous sommes impatients de vous offrir une expérience mémorable.</p>
    <p>Veuillez noter que votre réservation est confirmée et que nous vous enverrons un rappel par e-mail quelques jours avant l'événement. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p><br><br>
    

    <p>Nous espérons que vous apprécierez l'événement et que vous passerez un moment agréable avec nous.</p><br><br>
    
    <br><br><br><p style="text-align: right;">Cordialement , Diskover</p>
</body>

</html>