{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

     <a href="{{ path('app_user_index') }}" class="btn btn-primary float-right">
    <i class="fas fa-arrow-left
    "></i> Back to list
</a>
{% endblock %}
