{% extends 'baseback.html.twig' %}

{% block title %}Mailling!{% endblock %}

{% block body %}

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                                <h1 class="mt-4">Confirmation d'envoi {{ controller_name }}! ✅</h1>
                                    <ol class="breadcrumb mb-4">
                                        <li class="breadcrumb-item"><a href="index.html">Liste Reservation</a></li>
                                        <li class="breadcrumb-item active">Mailling</li>
                                    </ol>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <p class="mb-0">Votre Email a bien été envoyé avec succès !! </p>
                            </div>
                        </div>
                        
                </main>
                
    </div>
{% endblock %}


